<table class="table">
  <thead>
    <tr>
      <th scope="col">Weingut</th>
      <th scope="col">Wein</th>
      <th scope="col">Anzahl</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wine of wines.items">
      <td>{{wine.brand}}</td>
      <td>{{wine.name}}</td>
      <td>{{wine.amount}}</td>
      <td>
        <button type="button" class="btn btn-primary">Bearbeiten</button>
        <button type="button" class="btn btn-danger">Löschen</button>
      </td>
    </tr>
  </tbody>
</table>