<h1>Mein Weinkeller</h1>
<div class="container">
  <div class="header">
    <app-winesearch-component></app-winesearch-component>
    <app-microphone-button></app-microphone-button>
  </div>

  <table class="wine-table">
    <thead>
      <tr>
        <th scope="col">Weingut</th>
        <th scope="col">Wein</th>
        <th scope="col">Anzahl</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wine of wines.items" class="wine-row">
        <td>{{wine.brand}}</td>
        <td>{{wine.name}}</td>
        <td>{{wine.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>