/* Bottom navigation bar styling */
footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.navbar {
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.nav-item {
  flex-grow: 1;
}

.nav-item i {
  font-size: 24px; /* Icon size */
  display: block;
}

.nav-item span {
  font-size: 14px;
  display: block;
}

.nav-item.nav-link {
  color: #333;
  transition: color 0.3s ease;
}

.nav-item.nav-link:hover {
  color: #900E24FF; /* Hover color for icons and text */
}

/* Active link styling */
.link-active {
  color: #900E24FF !important;
}
