<footer>
  <nav class="navbar navbar-expand navbar-light bg-white border-top box-shadow fixed-bottom">
    <div class="container d-flex justify-content-around">
      <a class="nav-item nav-link text-center" [routerLink]="['/winelist']" [routerLinkActive]="['link-active']">
        <i class="fas fa-wine-bottle"></i> <!-- Wine Bottle Icon for "Weinkeller" -->
        <span>Weinkeller</span>
      </a>
      <a class="nav-item nav-link text-center" [routerLink]="['/search']" [routerLinkActive]="['link-active']">
        <i class="fas fa-search"></i> <!-- Search Icon for "Empfehlung" -->
        <span>Empfehlung</span>
      </a>
      <a class="nav-item nav-link text-center" [routerLink]="['/favorites']" [routerLinkActive]="['link-active']">
        <i class="fas fa-heart"></i> <!-- Heart Icon for "Favoriten" -->
        <span>Favoriten</span>
      </a>
    </div>
  </nav>
</footer>