<div class="search-page-container">
  <!-- Search Bar Section -->
  <div class="search-bar">
    <label for="dish-search">Weinempfehlung</label>
    <div class="input-wrapper">
      <input
        id="dish-search"
        type="text"
        [(ngModel)]="dishName"
        placeholder="Suche nach einem Gericht..."
        (keyup.enter)="searchDish()"
      />
      <button (click)="searchDish()">
      <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <!-- Default image when no search has been made -->
  <div *ngIf="!isLoading && recommendedWines.length === 0" class="default-image-container">
    <img src="assets/wine-background.png" alt="Wine Background" class="default-image">
  </div>

  <!-- Loading Section -->
  <div *ngIf="isLoading" class="loading-screen">
    <div class="spinner"></div>
    <p>Suche den perfekten Wein für dich...</p>
  </div>

  <!-- Wine Recommendations Section -->
  <div class="wine-results" *ngIf="!isLoading && recommendedWines.length > 0">
    <h2>Passend für dein Gericht</h2>
    <div class="wine-cards">
      <div class="wine-card" *ngFor="let wine of recommendedWines">
        <img
          *ngIf="wine.wineId"
          [src]="'assets/wines/' + wine.wineId + '.jpg'"
          alt="{{ wine.name }}"
          class="wine-image"
        />

        <!-- Favorite Icon -->
         
        <div class="favorite-icon"></div>

        <!-- Mark as drunk Icon -->
        <div class="drunk-icon"></div>

        <div class="wine-info">
          <h3>{{ wine.name }}</h3>
          <p><strong>Winzer: </strong> {{ wine.brand || 'N/A' }}</p>
          <p><strong>Jahrgang: </strong> {{ wine.vintage || 'N/A' }}</p>
          <p><strong>Bestand: </strong> {{ wine.amount || 'N/A' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
